@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  background-color: #0A1931;
  background-image: radial-gradient(circle at 50% 50%, rgba(29, 78, 216, 0.15) 0%, rgba(10, 25, 49, 0) 60%);
}

.shadow-gold {
  box-shadow: 0 0 25px rgba(212, 175, 55, 0.3);
}
